body{
    display: flex;
    justify-content: center;
}
.main-block{
    min-height: 900px;
    width: 70%;
    height:100%;
    background-color: rgba(204, 220, 255, 0.71);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    margin-top: 10px;
    width: 260px;
    height: 237px;
    background-color: rgba(255, 148, 42, 0.62);
}
.title{
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
}
#logo{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 18%;
    top: 4%;
}
#title{
    font-size: 35px;
    display: block;
    position: absolute;
    left: 21%;
    top: 5%;
}
.edit-btn{
    width: 55px;
    height: 30px;
    float: right
}
.delete-btn{
    width: 55px;
    height: 30px;
    float: right;
}
#add-new-post{
    right: 402px;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: rgba(58, 255, 160, 0.62);
    top: 45px;
    font-size: 23px;
}
#modal-window{
    position: absolute;
    right: 32%;
    top: 18%;
    width: 600px;
    height: 200px;
    background-color: hsl(210, 100%, 99%);
    display: none;
    align-items: center;
    justify-content: center;
}
#createNewCardBtn{
    margin-left: 40px;
}
#closeModalCross{
    right: 20px;
    top: -5px;
    font-size: 32px;
    position: absolute;
}
#fountainG{
    /* top: 500px; */
	position:relative;
	width:270px;
	height:33px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:33px;
	height:33px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:0.975s;
		-o-animation-duration:0.975s;
		-ms-animation-duration:0.975s;
		-webkit-animation-duration:0.975s;
		-moz-animation-duration:0.975s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:21px;
		-o-border-radius:21px;
		-ms-border-radius:21px;
		-webkit-border-radius:21px;
		-moz-border-radius:21px;
}

#fountainG_1{
	left:0;
	animation-delay:0.386s;
		-o-animation-delay:0.386s;
		-ms-animation-delay:0.386s;
		-webkit-animation-delay:0.386s;
		-moz-animation-delay:0.386s;
}

#fountainG_2{
	left:34px;
	animation-delay:0.4825s;
		-o-animation-delay:0.4825s;
		-ms-animation-delay:0.4825s;
		-webkit-animation-delay:0.4825s;
		-moz-animation-delay:0.4825s;
}

#fountainG_3{
	left:68px;
	animation-delay:0.589s;
		-o-animation-delay:0.589s;
		-ms-animation-delay:0.589s;
		-webkit-animation-delay:0.589s;
		-moz-animation-delay:0.589s;
}

#fountainG_4{
	left:101px;
	animation-delay:0.6855s;
		-o-animation-delay:0.6855s;
		-ms-animation-delay:0.6855s;
		-webkit-animation-delay:0.6855s;
		-moz-animation-delay:0.6855s;
}

#fountainG_5{
	left:135px;
	animation-delay:0.782s;
		-o-animation-delay:0.782s;
		-ms-animation-delay:0.782s;
		-webkit-animation-delay:0.782s;
		-moz-animation-delay:0.782s;
}

#fountainG_6{
	left:169px;
	animation-delay:0.8785s;
		-o-animation-delay:0.8785s;
		-ms-animation-delay:0.8785s;
		-webkit-animation-delay:0.8785s;
		-moz-animation-delay:0.8785s;
}

#fountainG_7{
	left:203px;
	animation-delay:0.975s;
		-o-animation-delay:0.975s;
		-ms-animation-delay:0.975s;
		-webkit-animation-delay:0.975s;
		-moz-animation-delay:0.975s;
}

#fountainG_8{
	left:236px;
	animation-delay:1.0715s;
		-o-animation-delay:1.0715s;
		-ms-animation-delay:1.0715s;
		-webkit-animation-delay:1.0715s;
		-moz-animation-delay:1.0715s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}