*{
    margin:0 0 ; font-family:'Raleway', sans-serif;;
}
body{
    background-image: url("../journey/img/rana-sawalha-364253-unsplash@1X.png"); background-repeat: no-repeat; background-size: cover;
}
header{
    width: 100%; height: 80px; background-color:rgba(0,0,0,0.4117647058823529) ; margin-top: 0px; position: relative;
}
.jr{
   position: absolute; left:81px; top:20px; font-size: 24pt; color: white;
}
.icons{
    position: absolute; top:25px; left:1100px;
}
 p{
     display: inline; position: absolute; width: auto;
}
 .welcome{
     width: 230px; height: 30px; right: 73px; top:15px; display: inline-block; position: absolute;
 }
 .wel1{
position: absolute; top:9px; right: 248px; font-size: 16pt; color: white;
 }
 .wel2{
     position: absolute; top:9px; right: 170px; font-size: 16pt; display: inline; width: 70px; color: #3cb878;
 }
 .wel3{
     position: absolute; top:9px; right: 154px; font-size: 16pt; color: white;
 }
 .wel4{
     position: absolute; top:9px; right: 50px; font-size: 16pt; display: inline; width: 70px; color: #3cb878; display: inline; width: 100px;
 }
 .sign{
     width: 444px; height: 615px; margin-top: 65px; margin-left: 643px; background-color: #FFFFFF; position: relative;
 }
 .greenthing{
     position: absolute; width: 18px; height: 18px;  background-color: #3cb878; top:29px;
 }
 .signup{
     position: absolute; width: 77px; height:19px; left: 45px; top:25px; font-size: 14pt;
 }
 .login{
     position: absolute; color: #3cb878; right: 59px; top:28px;
 }
 .facebook{
     position: absolute; width: 157px; height: 46px; background-color: #305db8; top:63px; left:45px;
 }
 .fclog{
     position: absolute; top:13px; left: 20px;
 }
 .vertical-line{
     height: 28px; width: 3px; background-color: #2b54a5; position: absolute; left:50px; top:8px;
 }
.fcname{
    color: white; position: absolute; font-size: 14pt; top:10px; left: 57px;
}
.google{
    position: absolute; width: 157px; height: 46px; top: 63px; right: 45px; background-color: #df4a32;
}
.vertical-line1{
    height: 28px; width: 3px; background-color: #c8422d; position: absolute; left:50px; top:8px;
}
.horizontal-line1{
    height: 2px; width: 135px; background-color: #eaeaea; position: absolute; top: 146px; left: 46px;
}
.horizontal-line2{
    height: 2px; width: 135px; background-color: #eaeaea; position: absolute; top: 146px; right: 46px;
}
.or{
    position: absolute; top:133px; font-size: 14pt; left: 47%;
}
.name{
  position: absolute;  width: 347px; height: 46px; top: 168px; left:46px;
}
.name2{
    position: absolute;  width: 347px; height: 46px; top: 235px; left:46px;
}
.email{
    position: absolute;  width: 347px; height: 46px; top: 302px; left:46px;
}
.password1{
    position: absolute;  width: 347px; height: 46px; top: 369px; left:46px;
}
.password2{
    position: absolute;  width: 347px; height: 46px; top: 436px; left:46px;
}
.checkbox{
    position: absolute; width: 15px; height: 17px; top:503px; left: 46px; border: 2px solid #eaeaea;
}
.agree{
    position: absolute; top:504px; left:68px; color: black;
}
.agree2{
    position: absolute; top: 504px; left: 145px; color: #56c18a;
}
.create-account{
    position: absolute; width: 354px; left: 46px; background-color:#3cb878; top:538px; height: 46px;
}
.create-account-text{
    position: absolute; font-size: 22px; top:22%; left:28%;
}