.footer{
    width: 100%;
    background-color: rgb(16, 32, 46);
   
}
.footer-content > span{
    text-align: left;
    color: white;
    display: block;
    padding-top: 70px;
    font-size: 30px;
    /* padding-bottom: 150px; */
}
.footer-content > p {
    padding-left: 20%;
    color: white;
    display: inline-block;
}
.rights {
    padding-left: 5%;
    display: inline-block;
    color:#ffffff;
    font-size: 21px;
}
.contact{
    color:white;
    padding-bottom: 40px;
}