.product-card{
    background-color: chocolate;
    height: 370px;
    border:2px solid black;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-left: 50px;
}
.product-card > img {
    border-radius: 50%;
    padding-top:15px;
}
.product-card > span {
    font-size: 25px;
    display: block;
}
.product-card > button {
    width: 45%;
}