.content{
    width: 100%;
    height: auto;
    padding-top: 40px;
    background-color: rgb(96, 134, 168);
    padding-bottom:150px;
}
.products-container{
    padding-top : 10px;
}
.white-stripe{
    height: 5px;
    background-color: aliceblue;
}
.product-row{
    padding-top:50px;
    display: flex;
    justify-content: center;
}