.header{
    padding-top: 50px;
    width: 100%;
    height: 120px;
    background-color: rgb(35 40 45);
}
.navbar{
    display: flex;
}
.navbar > div {
    margin-left: 50px;    
}
.navbar > span {
    font-size: 30px;
}
.nav-item{
    width: 30%;
    display: flex;
    justify-content: center;
}
.nav-active{
    border-bottom: 2px solid rgb(255, 246, 246);
}
.nav-link{
    display: block;
    font-size: 26px;
}
.cart-btn{
    cursor: pointer;
    margin-left: 121px;
    padding-top: 15px;
    width: 90px;
    height: 50px;
    background-image: url("https://img.favpng.com/12/18/15/shopping-cart-icon-png-favpng-e5DiMUYLNYaTjdsibphFUCAxC.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}
.cart-counter{
    padding-top: 8x;
    font-size:32px;
}
.navbar-nav{
    flex-direction: row !important;
}