body {
    background-color: #3a4965;
    background-size: 100%;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #484848;}
.left-header{
    font-size: 14px;
    width: 200px;
    background-color: #fafafa;
    border-bottom: none;

}
.price-table{
    border-collapse: collapse;
    margin: 25px auto;
    line-height: 1.5;}
tr:last-child td {
    border-bottom: none;
}
.header{
    height: 112px;
}
td {
    width: 155px;
    border-bottom: 2px solid #d3d3d3;
}
.pricing-plan{
    font-size: 20px
}
td:nth-child(2n+3) {
    background-color: #f2f2f2;
}
td:nth-child(even) {
    background-color: #e3e3e3;
}
.green-price{
    background-color: #89c331;
    height: 167px;
}
.red-price{
    background-color: #f04a56; height: 167px;
}
.deep-green-price{
    background-color: #20807c; height: 167px;}

.dollars {
    vertical-align: middle;
    font-size: 36px;

}
.buy{

    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    border: none;
    background-color: #484848;
    padding: 11px 33px;

}


