body{
    background-color: #3a4965;
    background-size: 100%;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #484848;
}

td {
    position: relative;
    padding: 22px 50px;
    border-right: 2px solid #d3d3d3;
}
tr:nth-child(2n+1) {
    background-color: #f2f2f2;
}
tr:nth-child(2n+4) {
    background-color: #e3e3e3;

}

table{
    border-collapse: collapse;
    margin: 25px auto;
    line-height: 1.5;
}
.header1, .header2-green, .header3-red, .header4-deepgreen{
    width: 275px;
    height: 68px;
    background-color: #fafafa;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    border-right: 2px solid #d3d3d3;
}
.header1{
    background-color: #fafafa; color:#484848;
}
.header2-green{
    background-color: #89c331;
}
.header3-red{
    background-color: #f04a56;
}
.header4-deepgreen{
    background-color: #20807c;
}
.whitebg{
    background-color: #fafafa;
}
button{
    width: 192px; height: 49px; font-size:19px; color: #fafafa;
}
.buy-now-red{
    background-color: #f04a56;
}
.buy-now-green{
    background-color: #89c331;
}
.contact-us{
    background-color: #484848;
}
.buy-now-deepgreen{
    background-color: #20807c;
}
.td-btn{
    height: 105px;
}
#contact{
    background-color: #dddddd;
}