.image-card{
    padding: 20px 10px;
}
/* .image-wrapper{
    position: relative;
    padding-bottom: 56.2%;
}
.image-card{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
} */
@media(min-width:1200px){
    .image-card{
            height: 160.3px;
    }
}
@media(max-width:1199px) and (min-width:768px){
    .image-card{
        height: 135px;
    }
}