.header{
    width: 100%;
    height: 150px;
    background-color: darkgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 24px;
}