#plus{
    width: 1260px;
    height: 180px;
    display: flex;
    font-style: italic;
    font-size:50px;
    background-color: violet;
    justify-content: center;
    align-items: center;
}
#main-container{
    max-width:1300px;
    height: 843px;
    border: aquamarine 20px solid;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}
#special-line{
    width: 1260px;
    height: 15px;
    position: absolute;
    background-color: olivedrab;
    top: 170px;
}
.cards{
    width:290px;
  justify-content: center;
   align-items: center;
    height:100px;
    background-color:green;
    display:flex;
    margin-top: 50px;

}
.left-column{
    width: 289px;
    top: 185px;
    border: 11px brown solid;
    height: 600px;
    position: absolute;
}
.central-column{
    width: 289px;
    top: 185px;
    border: 11px brown solid;
    height: 600px;
    position: absolute;
    left:486px
}
.right-column{
    width: 289px;
    top: 185px;
    border: 11px brown solid;
    height: 600px;
    position: absolute;
    left:950px;
}