.modal-cart{
    position: absolute;
    top: 200px;
    left: 38%;
    width: 450px;
    min-height: 780px;
    background-color: #ffffff;
    border-radius:12%;
}

.invisible{
    display: none;
}
.cross{
    float: right;
    font-size: 33px;
    margin-right: 27px;
    margin-top: 7px;
    cursor: pointer;
}
.modal-cart > h1 {
    display: inline-block;
    text-align: left;
    margin-top: 15px;
   
}
.cart-item{
    text-align: left;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}
.cart-label{
    display: inline-block;
}
.cart-item > span {
    display: inline-block;
    font-size: 25px;
    padding-left: 20px;
}
.cart-item > button {
    display: inline-block;
}
.buttons{
    display: inline;
    float: right;
}
.clear-cart-btn{
       margin-bottom: 9px;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.cart-lower-section {
    left: 30%;
    position: absolute;
    padding-top: 20px;

}