* {
    margin: 0;
    padding: 0;
}

.cunt {
    display: inline-block;
    width: 1349px;height: 100%;
    background-image: image('img/delonpic.jpg');

}
.menu{
    height: 83px; margin-top: 30px;
    background-color: white; width: 100%; display: inline-block; text-decoration: none;
}
ul li{
    display: inline-block ; margin-right: 120px; font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 18pt;
    color: lightseagreen;
    text-align: left; text-decoration: none;
}

ul {
    padding-left: 240px;
}
.delon{
    width: 100%;
}
.rapr{
    padding-top: 59px;
    margin-left: 342px;
    text-transform: uppercase;
    width: 629px;
    height: 17px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 18pt;
    color: rgba(55, 55, 55, 255);
    text-align: left;
    display: inline-block;
}
.lorem{
    margin-top: 34px;
    margin-left: 113px;
    width: 1059px; height: 354px;
}
button{
    margin-top: 41px;
    width: 192px;
    height: 51px;
    margin-left: 40%;
    margin-bottom: 202px;
    background-color: green;
}
.copyright{
    margin-top: 0px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: right;
    margin-right: 104px;

}
ul li a{ text-decoration: none;  font-family: 'Hepta Slab', serif; font-size: 15pt;


}
p{
    font-family: 'Montserat', sans-serif;
}
ul li{
    border: solid 2px lightseagreen;
}

button{
    font-family: 'Montserat', sans-serif;
}