*{
    max-width: 1480px; max-height:1282px;
}




.header-logo{
    width:292px; height:74px; margin-left:101px; margin-top: 61px;
}
.menu{
    margin-top: 45px; width: 1280px; height: 69px; background-image: url("./img/top-menu-fon@1X.png"); margin-left: 100px;
}
.nav-menu{
position: relative; margin-left: 240px; font-family: 'Montserrat', sans-serif;
}
.link1, .link2, .link3, .link4{
    color: white; font-size:19pt; text-decoration: none; margin-top: 20px; position:relative; display: inline-block ;padding-right: 42px
}
.menu2{
    width: 344px;height: 415px; border: 2px solid black; margin-left: 100px; margin-top: 51px; float: left; font-family: 'Montserrat', sans-serif;
}
ul li{
list-style-type: none; font-size: 29pt; text-decoration: none; padding-top:20px
}
ul li a{
    text-decoration: none; color:#485863; display:block; position: relative; height:20%; width:100%;
}
ul li a:hover{ color:#000000;

}
.link2\.2{
    margin-left: 25px; position: relative;
}
.bild{
    width:874px; height: 529px; float:left; margin-left: 53px; border:2px solid black; margin-top: 51px;
}


.kartinka{
    margin-top:75px; margin-left: 297px;
}
.text{
    width: 837px; height: auto; margin-left: 500px; margin-top: 590px; font-family: 'Montserrat', sans-serif;
font-size:18pt}
.foot{
    width: 1280px; height: 69px; margin-top: 26px; background: #B4B7BA; margin-left: 50px;
}
.foot-menu{
    width: 1280px; height: 26px; margin-left: 22px; margin-bottom: 22px;
}
.debil{
    margin-top: 22px;display: inline-block; padding-left:30px ; text-decoration: none; font-size: 16pt; color:#0C1927; font-family: 'Montserrat', sans-serif;
}
.debil:hover{
    color: #3A85A7; text-decoration: underline;
}
.copyright{
     margin-top: 26px; display: inline-block; margin-left: 280px; font-size: 16pt;
}