.footer{
    width: 100%;
    height: 180px;
    background-color: #FFFFFF;
    position: relative;
}
.footer-nav{
    padding-top: 94px;
    width: 400px;
    height: 20px;
}
.footer-nav span{
    font-size: 25px;
    color: #A7AAAB;
    margin-left: 9px;
}
.footer-logo{
    left: 42%;
    position: absolute;
    top: 61px;
}
.copyright-footer{
    padding-top: 25px;
    font-size: 24px;
    display: block;
}