*{
    margin:0 0; font-family:'Nunito', sans-serif;

}
.contacts{
    float: right; width: 279px; height: 52px; margin-top: 43px; margin-right: 110px; font-size: 18pt; color:white;
}
body{
    background-image: url("../img/background@1X.jpeg");
    background-size: cover; background-repeat:no-repeat; width: 100%; margin: 0 auto;

}
.header-logo{
    margin-top:49px; margin-left:155px; width: 49px; height: 44px; float: left;
}
.header-text{
    font-size: 29pt;
    color: white;
    text-align: left; margin-top: 20px; display: inline-block; margin-left: 5px;
    height: 60px;
}
.hol{
    display: block; font-size: 18pt;
}
.container{
width: 1200px; height: 554px; margin-left: 300px;
}
.IMG1{
     margin-top:48px; border:2px solid white; position: relative;
    width: 307px; height: 200px; float:left; clear: left;
}
.about1{
    font-size:18pt; padding-left:15px; color: rgba(255, 255, 255, 255);
    text-align: center;
}
.IMG2{
    margin-left:90px; width: 307px; height: 200px; float: left; margin-top: 50px; border: 2px solid white; position: relative;
}
.IMG3{
    margin-left:90px; width: 307px; height: 200px; float: left; margin-top: 50px; border: 2px solid white; position: relative;
}

.IMG4{
    width: 307px; height: 200px; float: left ; margin-top:58px; border:2px solid white; position: relative;

}
.IMG5{
    width: 307px; height: 200px; float: left ; margin-top:58px; border:2px solid white; margin-left:90px; position: relative;
}
.IMG6{
    width: 307px; height: 200px; float: left ; margin-top:58px; border:2px solid white; margin-left:90px; position: relative;

}
.copyright{
    margin-top: 400px; margin-left: 450px; font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center; width: 349px; display: inline;
}
.mobile{
    margin-left: 51px;
}
.link1{ display: block;
width: auto; height:auto;
}
a {
    text-decoration: none;
}
.header-text p:hover{
    color: orange;
}
a p:hover{
    color:orange;
}
.more{
    position: absolute; width: 311px; height: 63px; top:139px; background-color:#f26522; visibility:hidden ; left:-2px;
}
a:hover .more{
    visibility: visible; transition: 2s;
}
.from{ position: absolute;
        font-size: 10pt;
    top:14px; left: 21px; color: white;
}
.price{ position: absolute;
    left:21px; top:31px; font-size: 20pt; color: white;
}
.details{
    position: absolute;
    right: 40px; top:35px; font-size: 13pt; color: white;
}
.arrow{
    position: absolute; right: 25px; top:42px;
}
.header-logo:hover{
    background-image: url("../img/logo@orange.png");

}
.header-logo:hover .link1{
    visibility: hidden;
}
