body{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.get-ip{
    width: 300px;
    height: 48px;
    font-size: 24px;
    background-color: lightblue;
    border-radius: 3%;
    margin-top: 25%;
    align-items: center;
    display: flex;
}
.info-container{
    width: 900px;
    height: 48px;
    font-size: 24px;
    background-color: #6a66e6;
    border-radius: 3%;
    margin-top: 2%;
    align-items: center;
    display: flex;

}