body{
    position: relative;
}
tr {
     width: 30px;
     height: 15px;

 }
td {
    width: 30px;
    height: 15px;
    background-color: blueviolet;
}
.main-table{
    margin-left: 150px;
    margin-top: 50px;
}
.active{
    background-color: red;
}
.user{
    background: green;
}
.computer{
    background-color: blue;
}
#start{
    width: 200px;
    height: 200px;
    margin-left: 400px;
}
.startBtn{
    background-color: orangered;
    width: 200px;
    height: 70px;
    margin-left: 230px;
    font-style: italic;
    font-size: 25px;
}
.computer-score{
    font-size: 25px;
    position: absolute;
    display: inline-block;
    left: 483px;
}
.user-score{
    font-size: 25px;
    position: absolute;
    left: 147px;
    display: inline-block;
}
.computer-label{
    font-size: 20px;
    position: absolute;
    display: inline-block;
    left: 416px;
    top: 40px;
}
.user-label{
    font-size: 20px;
    position: absolute;
    display: inline-block;
    left: 93px;
    top: 40px;
}